html {
    overflow-x: hidden;
}
body {
    background-color: #f5f5f5;
    font-family: Orbitron;
    font-weight: 600;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar {
    display: none;
}
img {
    display: block;
    margin: auto;
}

/* Dropdown Navigation Styles*/ 
nav {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Center items horizontally */
}

nav a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.dropdown {
    position: relative; /* Positioning context for the dropdown */
}

.dropbtn {
    background-color: black; /* Same background color for dropdown button */
}

.dropdown-content {
    display: none; /* Initially hide the dropdown content */
    position: absolute; /* Position dropdown content */
    background-color: black; /* Background color for dropdown */
    min-width: 160px; /* Minimum width for the dropdown */
    z-index: 1; /* Ensure it appears above other content */
    text-align: center;
}

.dropdown-content a {
    padding: 10px 15px; /* Padding for dropdown links */
    text-align: center; /* Align text to the left */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown content on hover */
}


header a:hover {
    color:#0ff;
    animation-duration: 5s;
    text-shadow: 0px 0px 5px white;
}

header {
    display: block;
    align-items: center;
    justify-content: space-between; /* or space-around for more spacing */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    padding: none; /* Optional: add some padding to the header */
}

header a {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 5px #00f;
    font-size: 25px;
    transition: color 1s;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
   
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin: 0; /* Remove margin for better control */

    display: block; /* Maintain block display for better interaction */
    text-align: center; /* Center text within the links */
    flex: 1; /* Allow each link to grow and take up equal space */
}

header h1 {
    background-size: 100%; 
    padding-top: 150px; 
    padding-bottom: 150px; 
    background-blend-mode: darken; 
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 80px;
    width: 100%;
    text-align: left;
    padding-left: 60px;
    background-size: 100%;
    text-shadow: 0px 0px 8px #0ff;
}

/* Dropdown Navigation Styles */

.dropdown {
    position: relative; /* Positioning context for the dropdown */
}

.dropbtn {
    background-color: black; /* Same background color for dropdown button */
}

.dropdown-content {
    display: none; /* Initially hide the dropdown content */
    position: center; /* Position dropdown content */
    background-color: black; /* Background color for dropdown */
    box-shadow: 0px 0px 8px #0ff;
    border-radius: 5px;
    min-width: 100%; /* Minimum width for the dropdown */
    z-index: 1; /* Ensure it appears above other content */
}

.dropdown-content a {
    padding: 10px;
    text-align: center; /* Align text to the left */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown content on hover */
}


p, a, h3, h4, h5, h6 {
    text-align: left;
}

h2 {
    display: block;
    text-align: left;
    font-size: 40pt;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15pt;
    margin-left: 50px;
    padding-bottom: 5pt;
    outline: none;
}

h2::after {
    content: "";
    margin-left: -55px;
    padding-left: 0px;
    margin-right: auto;
    display: block;
    border-radius: 15px;
    align-items: left;
    width: 50%;
    height: 5px;
    margin-top: 5pt;
    background-color: black;
    box-shadow: 0px 0px 5px #0ff;
}

h3 {
    display: block;
    font-size: 25pt;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15pt;
    margin-left: 50px;
    padding-bottom: 5pt;
    outline: none;
}

.profile, .post-text-box {
    flex: 70%;
    padding: 20px;
}

.sponsor img {
    display: block;
    margin: auto;
    padding: 30px;
}

.people img {
    display: block;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.blog img{
    display: inline-block;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
    justify-content: center;
    border-radius: 10px;
}
.blog{
    text-align: center;
}

.inline-image img {
    display: inline-block;
    align-self: left;
    margin-right: 10px;
}

p {
    display: block;
    font-size: 17pt;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

main a {
    display: block;
    text-align: center;
}

main {
    display: block;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: black;
    bottom: 0;
    display: flex;
}
footer img {
    display: block;
    align-content: center;
    align-self: center;
    margin-left: 5pt;
    margin-right: 5pt;
    height: 50px;
    padding: 2px;
    border-radius: 3px;
}

iframe {
    display: block;
    margin: auto;
}

.popup {
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f5f5f5;
    overflow: hidden;
}

.background span {
    width: 35vmin;
    height: 35vmin;
    border-radius: 35vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #e0e0e0;
    top: 47%;
    left: 91%;
    animation-duration: 434s;
    animation-delay: -488s;
    transform-origin: -4vw -16vh;
    box-shadow: 70vmin 0 9.226200728838855vmin currentColor;
}
.background span:nth-child(1) {
    color: #e0e0e0;
    top: 74%;
    left: 33%;
    animation-duration: 322s;
    animation-delay: -419s;
    transform-origin: 25vw 21vh;
    box-shadow: -70vmin 0 9.225648573283523vmin currentColor;
}
.background span:nth-child(2) {
    color: #e0e0e0;
    top: 88%;
    left: 66%;
    animation-duration: 423s;
    animation-delay: -94s;
    transform-origin: 2vw -13vh;
    box-shadow: -70vmin 0 9.501771264637782vmin currentColor;
}
.background span:nth-child(3) {
    color: #bdbdbd;
    top: 12%;
    left: 8%;
    animation-duration: 217s;
    animation-delay: -357s;
    transform-origin: -14vw 18vh;
    box-shadow: -70vmin 0 9.620221518100397vmin currentColor;
}
.background span:nth-child(4) {
    color: #0000c8;
    top: 73%;
    left: 59%;
    animation-duration: 212s;
    animation-delay: -15s;
    transform-origin: 18vw 6vh;
    box-shadow: -70vmin 0 9.211144352884775vmin currentColor;
}
.background span:nth-child(5) {
    color: #bdbdbd;
    top: 80%;
    left: 25%;
    animation-duration: 448s;
    animation-delay: -235s;
    transform-origin: 2vw -18vh;
    box-shadow: -70vmin 0 9.548062731170956vmin currentColor;
}
.background span:nth-child(6) {
    color: #e0e0e0;
    top: 75%;
    left: 39%;
    animation-duration: 434s;
    animation-delay: -342s;
    transform-origin: 16vw 12vh;
    box-shadow: -70vmin 0 9.379360654207296vmin currentColor;
}
.background span:nth-child(7) {
    color: #e0e0e0;
    top: 47%;
    left: 50%;
    animation-duration: 401s;
    animation-delay: -210s;
    transform-origin: -21vw -4vh;
    box-shadow: -70vmin 0 8.897485537541767vmin currentColor;
}
.background span:nth-child(8) {
    color: #e0e0e0;
    top: 78%;
    left: 83%;
    animation-duration: 326s;
    animation-delay: -367s;
    transform-origin: 24vw 19vh;
    box-shadow: -70vmin 0 9.233541773193565vmin currentColor;
}
.background span:nth-child(9) {
    color: #0000c8;
}